
    <div class="course-card">
  
        <div class="course-title">
        {{ cardIndex + ' ' + course.description }}
        </div>

         <img width="300" alt="Angular Logo" [src]="course.iconUrl">

        <div class="course-description">
            {{course.longDescription}}
        </div>

        <div class="course-category">

             @switch (course.category) {

                @case ("BEGINNER") {
                     <div class="category">Begineer</div>
                }
                 @case ("INTERMEDIATE") {
                     <div class="category">Intermediate</div>
                }
               @case ("ADVANCED") {
                     <div class="category">Advanced</div>
                }
                @default {
                     <div class="category">Unknown</div>
                }
        
             }

          

        </div>

        <button (click)="onCourseViewed()">View Course</button>

    </div>    